<% if signed_in?  %>
	<div class="center hero-unit">
		<a href='/agenda'><h1>Agenda</h1></a>
	</div>
	<div class="center hero-unit">
		<a href='/speakers'><h1>Speakers</h1></a>
	</div>
	<div class="center hero-unit">
		<a href='/attendees'><h1>Attendees</h1></a>
	</div>
	<div class="center hero-unit">
		<a href='/maps'><h1>Maps</h1></a>
	</div>

<% else %>
	<div class="center hero-unit">

		<h1>Welcome to the Woodrow Wilson Event app!</h1>
		<h2>
		  This is the home page.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>