<% provide(:title, 'Maps') %>

<h1>Maps</h1>

<div class="center maps">
<h2>Perelman Quad</h2>
<p><%= image_tag("map_perelman_quad.gif", alt: "Perelman Quad") %></p>

<h2>Houston Hall</h2>
<p><%= image_tag("map_houston_hall_mtg_rms.png", alt: "Houston Hall") %></p>
</div>