<% provide(:title, 'Edit Meeting') %>

<h1>Edit <%= @meeting.title %></h1>

<div class="row">
	<div class= "span6 offset3">
		<%= form_for(@meeting) do |f| %>
			<%= render 'meetings/fields', f: f %>
			<%= f.submit "Submit changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
