<% provide(:title, 'Agenda') %>
<h1>Agenda</h1>

<%= will_paginate(:class => "center pagination") %>

<ul class="meetings">
	<%= render @meetings %>
</ul>

<%= will_paginate(:class => "center pagination") %>