<% provide(:title, 'Add New Meeting') %>
<h1>Create a New Meeting</h1>

<div class="row">
	<div class= "span6 offset3">
		<%= form_for(@meeting) do |f| %>
			<%= render 'meetings/fields', f: f %>
			<%= f.submit "Save Meeting", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>