<% provide(:title, 'Attendees') %>
<h1>Attendees</h1>

<%= will_paginate(:class => "center pagination") %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate(:class => "center pagination") %>