<footer class="footer">
	<small>
		Woodrow Wilson Events by <a href="http://www.woodrow.org">Woodrow Wilson National Fellowship Foundation</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 		'#' %></li>
			<li><%= link_to "Contact",	'#' %></li>
			<li><a href="http://woodrow.org/news/">News</a></li>
			<li><%= link_to "Help",			'#' %></li>
		</ul>
	</nav>
</footer>