<footer class="footer">
	<small>
		<a href="http://www.woodrow.org">Woodrow Wilson Events</a>
		by Woodrow Wilson National Fellowship Foundation
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 		'#' %></li>
			<li><%= link_to "Contact",	'#' %></li>
			<li><a href="http://woodrow.org/news/">News</a></li>
		</ul>
	</nav>
</footer>